* {
    box-sizing: border-box;
}

img {
    width: auto;
    height: 310px;
    margin: 60px;
} /* change this to flex -> want it to shrink to fit box..*/

.swear {
    color: red;
}

.channelDes {
    color: green
}
