* {
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 234, 223);
}

.image_block {
    /*width: auto;
    height: 310px;
    margin: 60px;*/
    display:flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
} /* change this to flex -> want it to shrink to fit box..*/

img {
    margin: 20px;
}

.note {
    color: red;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.title{
    font-weight: 700;
    text-align: left;
}

.date {
    text-align: right;
}